@import "./../../variables";

.progressBarContainer {
  display: inline-flex;

  width: 100%;
  margin: 20px 0 10px 0;

  progress {
    width: 100%;
    height: 5px;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: $primary-light;
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-progress-value {
      background-color: $primary-color;
      border-radius: 10px 0 0 10px;
      transition: width 0.5s ease;
    }

    &::-moz-progress-bar {
      background-color: $primary-light;
      border-radius: 10px 0 0 10px;
    }
  }

  span {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
}
