@import "./variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  margin: 90px 1rem 50px 1rem;
  width: 450px;
  height: 180px;
  transition: height 0.5s ease 0.2s;
  overflow: hidden;
  box-shadow: $shadow-z8;
  background-color: $grey-0;
  border-radius: 10px;

  .title {
    animation: fadeIn;
    transition: animation 0.5s ease-in 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.main.expanded {
  height: 580px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    padding: 1.5rem 1rem;
    margin: 90px 0.5rem 50px 0.5rem;
    width: 300px;
  }
}
